networks:
  linqra-network:
    external: true

services:
  quotes-service:
    build:
      context: .
      dockerfile: ./.kube/quotes/Dockerfile.polaris
    container_name: quotes-service
    environment:
      SPRING_PROFILES_ACTIVE: ec2
      CLIENT_TRUST_STORE: /app/client-truststore.jks
      CLIENT_TRUST_STORE_PASSWORD: 123456
      CLIENT_KEY_STORE: /app/client-keystore.jks
      CLIENT_KEY_STORE_PASSWORD: 123456
      CLIENT_ALIAS_NAME: quotes-service-container
      EUREKA_USERNAME: ${EUREKA_USERNAME}
      EUREKA_PASSWORD: ${EUREKA_PASSWORD}
      EUREKA_INSTANCE_URL: quotes-service
      GATEWAY_SERVICE_URL: api-gateway-service
    ports:
      - "8083:8083"
    networks:
      - linqra-network
    volumes:
      - ./:/app/quotes-service
      - ./keys:/app/keys
